[vars]
build_dir = ".var/dist"
webapp_out_dir = "{{ vars.build_dir }}/webapp"
storybook_out_dir = "{{ vars.build_dir }}/storybook"
gh_pages_out_dir = "{{ vars.build_dir }}/gh-pages"

# exposing defaults to terminal so that
# direct commands can be run consistently with tasks
[env]
# asserted in vite.config.ts
WEBAPP_OUT_DIR = "{{ vars.webapp_out_dir }}"
WEBAPP_BASE_URL = "/"
# asserted in .storybook/main.ts
STORYBOOK_BASE_URL = "/"
# expected in .github/workflows/deploy.yml
GH_PAGES_OUT_DIR = "{{ vars.gh_pages_out_dir }}"

[tasks."build:webapp:base"]
hide = true
usage = '''
arg "<dir>" env="WEBAPP_OUT_DIR" default="{{ vars.webapp_out_dir }}" help="Output directory for the webapp build"
arg "<base>" env="WEBAPP_BASE_URL" default="/" help="Base URL for the webapp"
'''
run = "WEBAPP_OUT_DIR=${usage_dir?} WEBAPP_BASE_URL=${usage_base?} vite build"

[tasks."build:webapp"]
description = "Build Application"
run = "mise run build:webapp:base"
sources = ["src/**/*.{ts,tsx}", "index.html", "vite.config.ts"]
outputs = ["{{ vars.webapp_out_dir }}/**/*"]

[tasks."build:storybook:base"]
hide = true
usage = '''
arg "<dir>" env="STORYBOOK_OUT_DIR" default="{{ vars.storybook_out_dir }}" help="Output directory for the Storybook build"
arg "<base>" env="STORYBOOK_BASE_URL" default="/" help="Base URL for the Storybook"
'''
run = "STORYBOOK_BASE_URL=${usage_base?} storybook build -o ${usage_dir?}"

[tasks."build:storybook"]
description = "Build Storybook"
run = "mise run build:storybook:base"
sources = ["src/**/*.{ts,tsx,stories.tsx}", ".storybook/**/*"]
outputs = ["{{ vars.storybook_out_dir }}/**/*"]

[tasks."build"]
description = "Run all build tasks"
run = [{ task = "build:webapp" }, { task = "build:storybook" }]

[tasks."build:gh-pages"]
description = "Prepare deployment artifacts (combine builds for GitHub Pages)"
run = [
	"mise run build:webapp:base {{ vars.gh_pages_out_dir }} /modern-stack/",
	"mise run build:storybook:base {{ vars.gh_pages_out_dir }}/storybook /modern-stack/storybook",
]
sources = ["src/**/*.{ts,tsx}", "index.html", "vite.config.ts", ".storybook/**/*"]
outputs = ["{{ vars.gh_pages_out_dir }}/**/*"]

