[tools]
"npm:codemod" = "latest"

[vars]
codemod_workflow = ".config/codemods/park-ui-fixes/"
codemod_target = "./src/shared/components/"
codemod_base_args = " run -w {{ vars.codemod_workflow }} -t {{ vars.codemod_target }}"
codemod_flags = "--allow-dirty --no-interactive --disable-analytics"

[tasks."park:add"]
description = "Add a new park-ui component"
depends_post = "park:fix"
usage = '''
arg "<name>..." help="Name of the component to add, e.g. 'button'"
'''
run = ["bun x @park-ui/cli add ${usage_name?}", { task = "prepare:panda" }]

[tasks."park:fix"]
description = "Replace styled-system imports with #styled-system in shared UI components"
run = [
	"codemod workflow {{ vars.codemod_base_args }} {{ vars.codemod_flags }}",
	{ task = "lint:fix" },
	{ task = "format" },
]
